:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html, body {
  height: 100%;
  background-image: url('./img/Fond-Game.png');
  display: block;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

p {
  color: white;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

/* Style de base pour le lien */
header .logo-link {
  color: #f5f5f5;
  text-decoration: none; /* Supprime le soulignement */
  transition: transform 0.3s;
}

/* Effet au survol */
header .logo-link:hover {
  color: #FFD700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-size: 1em;
}